/* assets/custom.css */

.hb-sidebar-container {
    width: 15%;
    position: relative;
    z-index: 2;
}

.hb-sidebar-custom-link {
    font-size: .750rem;
    border: 1px solid #064e3b;
    width: 160px;
    z-index: 3;
}

.w-64 {
    width: 5%;
}

@media (min-width: 768px) {
    .md\:px-12 {
        padding-left: 1.5rem;
    }
}
